/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.row{
  margin-right: 0px;
    margin-left: 0px;
}
.col-body{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
mat-card.example-card.mat-card {
  margin: 5px;
}
.action-buttons{
  float: right;
}
.action-buttons button{
  margin: 5px;
}
.legend span{
  display: block;
}
