<div class="container">
  <div class="row">
    <div class="col-sm-7 col-body">
      <h3>Welcome to Dashboard</h3>
    </div>
    <div class="col-sm-5 col-body action-buttons">
      <div class="action-buttons">
        <button mat-raised-button color="accent">
          <mat-icon>mic</mat-icon> Save
        </button>
        <button mat-raised-button color="accent">
          <mat-icon>mic</mat-icon> Export
        </button>
        <button mat-raised-button color="accent">
          <mat-icon>mic</mat-icon> Share
        </button>
        <button mat-raised-button color="accent">
          <mat-icon>mic</mat-icon> Settings
        </button>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 col-body">
      <mat-card class="example-card" style="height: 500px;">
        <mat-card-header>
          <div class="row" style="width: 100%;">
            <div class="col-sm-8 col-body">
              <mat-card-title>Website Audience Metrics</mat-card-title>
              <mat-card-subtitle>Audience to which the users belonged while on the current date range
              </mat-card-subtitle>
            </div>
            <div class="col-sm-4 col-body">
              <mat-button-toggle-group style="float: right;" appearance="legacy" name="fontStyle"
                aria-label="Font Style">
                <mat-button-toggle value="bold">Day</mat-button-toggle>
                <mat-button-toggle value="italic">Week</mat-button-toggle>
                <mat-button-toggle value="underline">Month</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>

        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-body col-sm-7">
              <app-group-bar [data]="groupBarChart"></app-group-bar>
            </div>
            <div class="col-body col-sm-5">
              <div *ngFor="let item of audienceMatricData">
                <div class="row">
                  <div class="col-body col-sm-6">{{item.title}}</div>
                  <div class="col-body col-sm-6">{{item.tag}}</div>
                </div>
                <div class="row">
                  <div class="col-body col-sm-6">{{item.acquireValue}}</div>
                  <div class="col-body col-sm-6">{{item.value}}</div>
                </div>
                <div class="row">
                  <div class="col-body col-sm-10">
                    <mat-progress-bar mode="determinate" aria-label="your" color={{item.color}} value="40">
                    </mat-progress-bar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-body col-sm-3">
      <mat-card class="example-card" style="height: 500px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ng-container>
            <app-donut [data]="chartData"></app-donut>
          </ng-container>

        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div *ngFor="let item of donutLegendData" class="col-body col-sm-6 ">
              <span>{{item.title}}</span>
              <div><span style="font-size: 18px;">{{item.acquireValue }}</span>
                <span style="font-size: 14px;color: #69a5da;"> {{item.percent}}</span>
              </div>
            </div>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-body col-sm-5">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-body col-sm-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-body col-sm-3">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-body col-sm">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-body col-sm">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-body col-sm">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-body col-sm">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <app-table-sticky-columns></app-table-sticky-columns>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
  <app-table-sticky-columns></app-table-sticky-columns>
</div>
